<!-- <html>
<head>
    <script src="/jquery-3.3.1.min.js"></script>
    <title>Shop Your Likes</title>
</head> -->
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div id="menu">{{> menu}}</div>

<div id="main" style="margin-left: 230px;">
    <h2>Create Links</h2>
    <form id="addlink">
        <div class="linkbox">
            <input type="text" name="url">
            <div class="epc"></div>
        </div>
    </form>
</div>
<script>
    $(".linkbox").on("input", function (event) {
        event.preventDefault();
        var form = $(this);
        var url = form.find("input[name='url']").val();
        $.ajax({
            url: "/api/links/epc?url=" + url,
            type: "GET",
            contentType: "application/json; charset=utf-8"
        }).done(function (data, textStatus, xhr) {
            form.find("div[class='epc']")[0].innerHTML = data.epc;
        })
    });
</script>
</body>
<!-- </html> -->