<!-- <html>
<head>
    <script src="/jquery-3.3.1.min.js"></script>
    <title>Shop Your Likes</title>
</head>
<body> -->
    <div id="menu">{{> menu}}</div>

    <div id="main" style="margin-left: 30px;">
    	<div>        
    		<h1 style="text-align: center">Dashboard</h1>
	    </div>
	    <div>
            <table style="width: 100%; text-align: left;">
                <div style="text-align:left;border:1px solid black; padding-left: 10px;">
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Count</th>
                </tr>
                <tr>
                    <td>Leeroy Jenkins</td>
                    <td>34</td>
                    <td>10,000</td>
                </tr>
                <tr>
                        <td>Leeroy Jenkins</td>
                        <td>34</td>
                        <td>10,000</td>
                </tr>
                </div>
            </table>
    	</div>
    </div>
<!-- </body>
</html> -->