<html>
<head>
    <script src="/jquery-3.3.1.min.js"></script>
    <title>Shop Your Likes</title>
</head>
<body>
    <div id="menu">{{> menu}}</div>

    <div id="main" style="margin-left: 230px;">
    	<div>        
    		<h2>Dashboard</h2>
	    </div>
	    <div>
            <table style="width: 100%; text-align: left;">
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Count</th>
                </tr>
                <tr>
                    <td>Leeroy Jenkins</td>
                    <td>34</td>
                    <td>10,000</td>
                </tr>
            </table>
    	</div>
    </div>
</body>
</html>