

<body>
<div id="menu">{{> menu}}</div>

<div class="container authenticated">
    Logged in as: <span id="user"></span>

    <div>
        <button onClick="delete_cookie(user)" class="btn btn-primary">Logout</button>
    </div>

</div>

<script>
    var delete_cookie = function(name) {
        document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    };
</script>
</body>