<!-- <html>
<head>
    <script src="/jquery-3.3.1.min.js"></script>
    <title>Shop Your Likes</title>
</head> -->
<body>
<div id="menu">{{> menu}}</div>

<div id="main" style="margin-left: 230px;">
    <h2>My Stats</h2>
</div>
</body>
<!-- </html> -->